params {
    input = null
    outdir = 'phageflow_results'
    host_samplesheet = null

    pangenome_method = 'mmseqs'
    output_mode = 'important'
    pan_min_seq_id = 0.30
    pan_min_coverage = 0.70
    pan_cluster_mode = 0
    mmseqs_bin = 'mmseqs'
    blastp_bin = 'blastp'
    blastn_bin = 'blastn'
    makeblastdb_bin = 'makeblastdb'
    run_intergenomic_similarity = true
    ani_min_identity = 70.0
    ani_min_aln_len = 100
    ani_max_evalue = 1e-5
    ani_max_genomes = 100
    rbh_min_identity = 30.0
    rbh_min_query_cov = 70.0
    rbh_min_subject_cov = 70.0
    rbh_max_evalue = 1e-5

    run_marker_tree = false
    marker_source = 'auto'
    marker_faa = null
    marker_kinds = 'terminase_large,portal,major_capsid'
    marker_min_genomes = 3
    marker_tree_engine = 'iqtree2'
    marker_bootstrap = 1000
    mafft_bin = 'mafft'
    trimal_bin = 'trimal'
    iqtree_bin = 'iqtree2'

    run_crispr_spacer_match = false
    crispr_spacers = null
    crispr_min_identity = 95.0
    crispr_min_coverage = 80.0
    host_min_orf_aa = 60
    host_use_prodigal = true
    prodigal_bin = 'prodigal'

    min_orf_aa = 30
    kmer_size = 21
    duplicate_jaccard = 0.995

    run_trnascan = false
    run_bacphlip = false
    run_checkv = false
    run_abricate = false
    run_pharokka = false
    run_genomad = false
    run_phold = false
    run_clinker = false
    run_iphop = false
    run_phabox = false

    checkv_db = null
    pharokka_db = null
    abricate_db = 'vfdb'
    genomad_db = null
    genomad_bin = 'genomad'
    genomad_splits = 8
    genomad_extra_args = ''
    phold_bin = 'phold'
    phold_extra_args = '--cpu'
    clinker_bin = 'clinker'
    clinker_min_genomes = 2
    clinker_extra_args = ''
    iphop_db = null
    iphop_bin = 'iphop'
    iphop_min_score = 90
    iphop_extra_args = ''
    phabox_db = null
    phabox_bin = 'phabox2'
    phabox_task = 'end_to_end'
    phabox_min_len = 3000
    phabox_extra_args = ''

    legacy_snakemake_dir = "${projectDir}/../pangenome"
    legacy_snakemake_config = null
}

process {
    cpus = 2
    memory = '4 GB'
    errorStrategy = 'terminate'
    withName:INTERGENOMIC_SIMILARITY {
        cpus = 4
        memory = '8 GB'
    }
    withName:MARKER_PHYLOGENY {
        cpus = 4
        memory = '8 GB'
    }
    withName:MMSEQS_PANGENOME {
        cpus = 4
        memory = '8 GB'
    }
    withName:RBH_PANGENOME {
        cpus = 4
        memory = '8 GB'
    }
    withName:CHECKV {
        cpus = 4
        memory = '12 GB'
    }
    withName:PHAROKKA {
        cpus = 4
        memory = '12 GB'
    }
    withName:GENOMAD {
        cpus = 4
        memory = '16 GB'
    }
    withName:PHOLD {
        cpus = 4
        memory = '24 GB'
    }
    withName:CLINKER_SYNTENY {
        cpus = 4
        memory = '8 GB'
    }
    withName:IPHOP {
        cpus = 4
        memory = '24 GB'
    }
    withName:PHABOX {
        cpus = 4
        memory = '12 GB'
    }
}

profiles {
    test {
        params.input = "${projectDir}/assets/test_data/phage_samplesheet.tsv"
        params.host_samplesheet = "${projectDir}/assets/test_data/host_samplesheet.tsv"
        params.outdir = 'phageflow_test_results'
        params.pangenome_method = 'mmseqs'
        params.min_orf_aa = 20
    }

    conda {
        conda.enabled = true
        process.conda = "${projectDir}/envs/phageflow-core.yml"
    }

    docker {
        docker.enabled = true
        process.container = 'phageflow:latest'
    }
}
